*{
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
header {
  padding: 10%;

  height: 75vh;
  text-align: center;

}
body{
    background-color: #222733;
}
nav{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #525E65;
}
nav ul {
  margin-left: auto;
  margin-right: auto;

}
nav ul li{
    display: inline-block;
    list-style: none;
    border-bottom: 3px solid rgba(76, 175, 80, 0);
}
nav ul li a{
    text-decoration: none;
    color:#D7E3D0;
    position: relative;
    display: inline-block;
    margin: 3px 10px 0 10px;
    padding: 20px;
}
nav ul li:hover {
  color: #73CCA8;
  border-bottom: 3px solid #73CCA8;
}

section {
  margin: 10%
}

article, p {
  text-align: justify;
  color: #D7E3D0;
}










//
