.gallery img {
  width: 50%;
  padding: 5px;
  float: left; 
}


.portfolio-description {
  padding-left: 50px;
}

@media screen and (max-width: 1024px){
  .gallery img {
    width: 100%;
  }
  
  section {
    padding:0px;
  }
}